@font-face {
    font-family: text;
    src: url(/font/text.ttf);
}
@font-face {
    font-family: text1;
    src: url(/font/text.woff2);
}
.text{
    font-feature-settings:"liga";
    font-family: 'text';
}
.font-main{
    font-family: "Poppins", sans-serif;
}
.btn{
    transition: all 0.5 ease-in  ;
}
.label{
    margin: 10px 30px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
}
i{
    margin: 10px 30px;
    /* text-[24px] text-black */
    font-size: 24px;
    color: black;
 
}
.input{
    padding: 5px;
    text-align: left;
    margin: 0 30px;
    width: 80%;
    border:1px solid black;
}
